body {
    margin: 0;
    min-height: 100vh;
    background-image: url(voleibol.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::before {
    content: "";
    width: 100%;
    min-height: 100vh;
/*para que funcione z-index: se debe colocar pasition en 
un valor diferente de static porque sino no funciona.
por eso esta en absolute*/
    position: absolute;
    top: 0;
    left: 0;
/* al fondo se hace un gradient de 90 grados con los colores
para que vaya de izquierda a derecha por defecto viene de 
arriba hacia abajo*/
    background: linear-gradient(90deg, #52c4df, #ad55c1);
/* opacity para darle opaciada  colores e imagen*/
    opacity: 0.4;
/* z-index: para  devolver la imagen en el eje x un paso 
atras y asi el fondo antes hecho quede detras de lo que se 
escriba o haga en html*/
    z-index: -1;
}

#relleno    {
margin: 0;
padding: 5px;
border-width: 0;
width: 240px;
}

/*creamos un .contenedor-sobre-nosotors y en el ponemos un
display flex y un justify-content(justificar contenido)
space-evenly que reparte el espacio equitativamente.*/
.contenedor {
    display: flex;
    justify-content: space-evenly;
}
body .ingreso {
    width: 25%;
}
.container {
    width: 75%;
}


