header {
  padding-top: 3vh;
  padding-bottom: 1vh;
}

h1 {
  color: #1d3557;
}

.headerBody {
  border-bottom: #1d3557 solid 1px;
}

.imgFormIcon {
  width: 20vh;
  height: 20vh;
  padding: 1vh;
}

section {
  padding-top: 3vh;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: whitesmoke;
}
.headerSection-content-main {
  display: flex;
}

.tittleHeaderSection {
  color: #1d3557;
  padding: 3vh;
}

article {
  padding: 1vh;
}

article:hover {
  background-color: #1d3557a9;
  color: whitesmoke;
}
