header {
    padding-top: 3vh;
    padding-bottom: 1vh;
  }

  .button {
    background-color: #1d3557;
    color: #fff;
  }
  
  .button:hover {
    background-color: #fff;
    color: #1d3557;
    border: #1d3557 solid 1px;
  }
  
  .BN1 {
    margin-right: 3%;
  }
li   
  header a {
    text-decoration: none;
    color: black;
  }
  
  h1 {
    color: #1d3557;
  }
  
  a {
    text-decoration: none;
    color: black;
  }
  
  .button1 {
    background-color: #fff;
    margin-right: 2vh;
    color: #1d3557;
    border: #1d3557 solid 1px;
  }
  
  .button1:hover {
    background-color: #1d3557;
    color: #fff;
  }
  
  .button2 {
    background-color: #1d3557;
    color: #fff;
    margin-right: 2vh;
  }
  
  .button2:hover {
    background-color: #fff;
    color: #1d3557;
    border: #1d3557 solid 1px;
  }
  
  .tittleMain {
    padding: 1vh;
    color: #1d3557;
    border-bottom: #1d3557 1px solid;
  }
  
  .avatar {
    font-size: 13vh;
  }
  
  table {
    border: #1d3557 1px solid;
  }
  
  thead {
    background-color: #1d3557;
    color: azure;
  }
  
  .columnaCabecera {
    border: azure 1px solid;
  }
  
  td {
    border: #1d3557 1px solid;
  }
  
  #botonesLista {
    padding: 0vh;
    margin-top: -1.6vh;
    font-size: 3vh;
  }