header {
  padding-top: 3vh;
  padding-bottom: 1vh;
}

.button {
  background-color: #1d3557;
  color: #fff;
  margin-right: 2vh;

  border: #1d3557 solid 1px;
}

.button:hover {
  background-color: #fff;
  color: #1d3557;
}

header h1 {
  color: #1d3557;
}

header a {
  text-decoration: none;
  color: black;
}

table {
  border: #1d3557 1px solid;
}

thead {
  background-color: #1d3557;
  color: azure;
}

.columnaCabecera {
  border: azure 1px solid;
}

td {
  border: #1d3557 1px solid;
}
<<<<<<< HEAD

input {
  width: 3em;
}

/*@media screen and (max-width: 800px){
	.selectbox {
		width: 100%;
	}
}*/
=======
.contador {
	padding: 1em;
}
>>>>>>> a405af9e78eab1620de97a126e9eebc0321a36e8
